@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.principal{
    position: relative;
    background-color: #0d1821;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    transition: all 300ms;
}

.nav{
padding-top:1rem ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 1000ms;
}

.nav__title h2{
    color: aliceblue;
    letter-spacing: 1rem;
    font-weight: 700;
}

.nav__category ul{

    display: flex;
}

.nav__category ul li {
margin: 0 1rem;
    list-style: none;
   
}

.nav__category ul li a{

    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
   
}

.heroe{
margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heroe__primary{
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.heroe__secondary{
    z-index: 2; 
    display: flex;
    justify-content: center;   

}

.heroe__secondary img{
width: 18rem;
animation: move_vector 6s ease-in-out infinite;

}

@keyframes move_vector {
    0%{
        transform: translatey(0.8rem);
    }
    25%{
        transform: translatey(-0.8rem);
    }

    100%{
        transform: translatey(0.8rem);
    }
}

.wave{
    
position: absolute;
width: 100%;
background: url(img/wave.png);
height:100px ;
bottom: 0;
left: 0;
animation: w1 7s linear infinite;
background-size: 1000px 100px;
}

@keyframes w1 {
    0%{

            background-position-x: 0;
        }

    100%{
        background-position-x: 1000px;
    }
    
}

.navefect{
    

height: 70px;
box-shadow: 1px 1px 10px 0px #00000010 ;
background-color:#0d1c21 ;
position: fixed;
width: 100%;
z-index: 3;
}

.heroe_primary-letter{
    color: white;
    font-family: 'Josefin Sans', sans-serif;   
}

.first{
    font-size: 1.5rem;
}

#em{
    color: #ff5e27;
}

.tercera{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
#efect{
    color: #ff5e27;
}


.second{
    font-size: 1.5rem;
}

.about__image img{
    width: 30rem;
}
@media only screen and (max-width: 578px) {
    .about__image img {
      margin-top: 2rem;
    }
  }

.about{
    position: relative;


}
@media only screen and (max-width: 578px) {
    .about {
      margin-top: 6rem;
    }
  }

.medio{
    position: absolute;
    background: url(img/Flare.jpg);
    height: 60%;
    top: 30%;
    z-index: -1;
}

@media only screen and (max-width: 578px) {
    .medio {
      width: 100%;
    }
  }
.about_comment{
display: flex;
    padding: 8rem ;
    margin-top: 3rem;
    background-color:aliceblue;
    justify-content: center;

}
@media only screen and (max-width: 578px) {
    .about_comment {
      padding: 4rem;
      margin-top: 0;
    }
  }

.about__coment-cuadro h2{
font-size: 5rem;
color:black;

}

.skill{

    background-color: #0d1821;
    height: 100%;
    width: 100%;
    
}




.card{
    width: 100%;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info__description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;

}

.card:hover .icon{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.icon{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.icon i{
    font-size: 150px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
}

.info__description{
    width: 100%;
    height: 220px;
    color: #474747;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description h3{
    font-weight: bold;
    overflow: hidden;
}



/*COLOR DE LAS CARD*/

.c1:hover .icon{
    background: #DD4B25;
}

.c1 .icon i{
    color: #DD4B25;
}

.c1:hover .icon i{
    color: #fff;
}


.c2:hover .icon{
    background: #146EB0;
}

.c2 .icon i{
    color: #146EB0;
}

.c2:hover .icon i{
    color: #fff;
}


.c3:hover .icon{
    background: #E8B600;
}

.c3 .icon i{
    color: #E8B600;
}

.c3:hover .icon i{
    color: #fff;
}



.c4:hover .icon{
    background: rgb(80, 154, 179);
}

.c4 .icon i{
    color: rgb(80, 154, 179);
}

.c4:hover .icon i{
    color: #fff;
}


.c5:hover .icon{
    background: black;
}

.c5 .icon i{
    color:  black;
}

.c5:hover .icon i{
    color: #fff;
}

.c6:hover .icon{
    background: rgb(51, 138, 167);
}

.c6 .icon i{
    color:  rgb(51, 138, 167);
}

.c6:hover .icon i{
    color: #fff;
}


.c7:hover .icon{
    background: rgb(91, 110, 196);
}

.c7 .icon i{
    color:    rgb(91, 110, 196);
}

.c7:hover .icon i{
    color: #fff;
}




/*FIN DE LAS CARD*/

.container__slider{
    max-width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

input[type=radio]{
    display: none;
}

.containere{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
}

.card1{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}


#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
}
.portfolio{
height: 100vh;
}
.owl-item{
    width:20rem !important ;
    height:20rem ;
}

.owl-item img{
    
    height: 15rem;
}
.owl-stage{
    width: 7000px !important;
}

.lb-outerContainer{
    width: 60% !important;
}

.lb-image{
    width: 100% !important;
}


#light-principal{
    display: none;
}

.light{
    background-color: rgba(0, 0, 0, 0.836) ;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
z-index: 100;
display: none;
}

.light #contenedor-light{
width: 80%;
height: 100vh;
}

#contenedor-light img{

    width: 100%;
    height: 100%;
}

.comentario{

    color: white;
}

.link-light i {
font-size: 2rem;
margin: 0 0.3rem;
}

.github{
    color: white;
}

.internet{
    color: blue;
}
.links{
    display: flex;

}
.Title{
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
padding: 0 3rem;
position: relative;
display: inline-block;
}


.Title::before{
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    height: 0.6rem;
    background-color: black;
    top: 39%;
    left: 0;
    
}

.title-container{
    position: relative;
    display: flex;
justify-content: center;
}



.Title::after{
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    height: 0.6rem;
    background-color: black;
    top: 39%;
    right: 0;
}


.colour{
    color: #0d1821;
}
.colour-white{
    
    color:aliceblue ;
}
.Title-second{
    color: #ff5e27;
}